.accordion {
  @include list-reset;
  max-width: 680px;
}

.accordion__tab {
  min-height: 115px;
  position: relative;
  padding-left: 100px;


  @include viewport--sm {
    padding-left: 80px;
  }

  &--opened {
    padding-bottom: 38px;

    @include viewport--md {
      padding-bottom: 15px;
    }

    @include viewport--sm {
      padding-bottom: 35px;
    }

    .accordion__tab-toggle {
      border: none;
      background-image: linear-gradient(180deg, $color-ruby 0%, $color-violet-red 100%);

      svg {
        fill: $color-default-white;
        transform: rotate(45deg);
      }
    }
  }
}

.accordion__tab-title {
  padding-top: 25px;
  padding-bottom: 25px;

  @include viewport--sm {
    display: flex;
    align-items: center;
    min-height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 19px;
  }
}

.accordion__tab-toggle {
  @include button-reset;
  @include transition(background);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 1px solid $color-ruby;
  border-radius: 50%;

  @include viewport--sm {
    width: 60px;
    height: 60px;
  }

  svg {
    @include transition(transform, filter);
    fill: $color-ruby;

    @include viewport--sm {
      width: 24px;
      height: 24px;
    }
  }

  &:hover svg,
  &:focus svg {
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.6));
  }
}

.accordion__tab-content {
  @include transition(height);
  height: 0;
  overflow: hidden;

  p {
    margin-top: 0;
    margin-bottom: 12px;
    font-feature-settings: "pnum"on, "lnum"on;

    @include viewport--sm {
      font-size: 14px;
      line-height: 24px;
    }
  }

  strong {
    font-weight: 700;
    color: $color-violet-red;
  }
}
