.accordion-page {
  padding-top: 150px;
  padding-bottom: 150px;
  overflow: hidden;

  @include viewport--md {
    padding-top: 170px;
  }

  @include viewport--sm {
    padding-top: 200px;
  }

  h1 {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    margin-top: 0;
    margin-bottom: 76px;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;

    @include viewport--md {
      margin-bottom: 46px;
      font-size: 20px;
      line-height: 23px;
    }


    .size-xxl {
      margin-bottom: 12px;
      font-weight: 800;
      font-size: 130px;
      line-height: 153px;
      color: $color-white-smoke;

      @include viewport--md {
        margin-bottom: 30px;
        font-size: 80px;
        line-height: 94px;
      }

      @include viewport--sm {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 35px;
      }
    }
  }

  .container {
    position: relative;
  }
}

.accordion-page__bg {
  position: absolute;
  top: 275px;
  left: 755px;
  width: 556px;
  height: 656px;

  @include viewport--md {
    top: -132px;
    left: calc(50% + 133px);
    width: 214px;
    height: 242px;
  }

  @include viewport--sm {
    top: -180px;
    left: auto;
    right: 20px;
    width: 162px;
    height: 199px;
    transform: rotate(60deg);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
