// Viewports
//---------------------------------

$viewport--lg: 1024px;
$viewport--md: 768px;
$viewport--sm: 320px;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Colors
//---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;

// Base
$color-white-smoke: #f6f6f6;
$color-ruby: #e41579;
$color-violet-red: #ff3f84;
